{% load static %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <title>
      {% block title %}

      {% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="row">
      <div class="sidebar col-lg-2 col-md-3">
        <h2>Wiki</h2>
        <form method="POST" action="{% url 'index' %}" id="searchForm">
          <div class="search_container">
            {% csrf_token %}
            <input class="search" type="text" name="q" placeholder="Search Encyclopedia" id="searchInput" />
            <button class="btn btn-primary" type="submit" name="submit" title="Search Encyclopedia" id="searchSubmit">Search</button>
          </div>
        </form>
        <div class="home_button">
          <a href="{% url 'index' %}">Home</a>
        </div>
        <div>
          <a href="{% url 'create' %}">Create New Page</a>
        </div>
        <div>
          <a href="{% url 'random' %}">Random Page</a>
        </div>
        <div class="theme-switch-wrapper">
          Toggle Dark Mode
          <label class="label" for="checkbox">
            <div class="toggle">
              <input type="checkbox" name="check" class="toggle-state" id="checkbox" />
              <div class="indicator"></div>
            </div>
          </label>
        </div>
        {% block nav %}

        {% endblock %}
      </div>
      <div class="main col-lg-10 col-md-9">
        {% block body %}

        {% endblock %}
        <div class="home_button">
          <a href="/" class="btn btn-primary">Home</a>
        </div>
      </div>
    </div>

    <script> // For switching between light and dark mode
      const checkbox = document.getElementById('checkbox')
      
      function setTheme(theme) {
        document.documentElement.setAttribute('data-theme', theme)
        localStorage.setItem('theme', theme)
      }
      
      checkbox.addEventListener('change', (e) => {
        if (e.target.checked) {
          setTheme('dark')
        } else {
          setTheme('light')
        }
      })
      
      const storedTheme = localStorage.getItem('theme')
      if (storedTheme) {
        setTheme(storedTheme)
        if (storedTheme === 'dark') {
          checkbox.checked = true
        }
      } else {
        setTheme('light')
      }
    </script>
    <script> // To use a search button 
      const searchForm = document.getElementById('searchForm')
      const searchInput = document.getElementById('searchInput')
      
      searchForm.addEventListener('submit', function (event) {
        if (searchInput.value.trim() === '') {
          event.preventDefault()
          alert('Please enter a search query.') 
        }
      })
    </script>
  </body>
</html>